# #Fire up GraphLab Create

In [1]:
import graphlab
from pandas import Series, DataFrame
import pandas as pd

In [4]:
## Here pandas is working
df = pd.read_csv('people-example.csv')
sf = graphlab.SFrame('people-example.csv')

[INFO] This non-commercial license of GraphLab Create is assigned to iliassweb@gmail.comand will expire on September 22, 2016. For commercial licensing options, visit https://dato.com/buy/.

[INFO] Start server at: ipc:///tmp/graphlab_server-15804 - Server binary: /home/zax/anaconda/lib/python2.7/site-packages/graphlab/unity_server - Server log: /tmp/graphlab_server_1443510964.log
[INFO] GraphLab Server Version: 1.6.1

PROGRESS: Finished parsing file /home/zax/ml-foundation/people-example.csv
PROGRESS: Parsing completed. Parsed 7 lines in 0.059917 secs.
------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[str,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
PROGRESS: Finished parsing file /home/zax/ml-foundation/people-example.csv
PROGRESS: Parsing completed. Parsed 7 lines in 0.017049 secs.

In [14]:
people_data = DataFrame(df)
people_data

  First Name Last Name        Country  age
0        Bob     Smith  United States   24
1      Alice  Williams         Canada   23
2    Malcolm      Jone        England   22
3      Felix     Brown            USA   23
4       Alex    Cooper         Poland   23
5        Tod  Campbell  United States   22
6      Derek      Ward    Switzerland   25

In [18]:
myFeatures = ['First Name', 'Last Name', 'age']

In [22]:
df[myFeatures]

  First Name Last Name  age
0        Bob     Smith   24
1      Alice  Williams   23
2    Malcolm      Jone   22
3      Felix     Brown   23
4       Alex    Cooper   23
5        Tod  Campbell   22
6      Derek      Ward   25

In [25]:
pd.Canvas.set_target('ipynb')

AttributeError: 'module' object has no attribute 'Canvas'